<div class="main-container">
    <div class="upper-section" *ngIf="isLoggedIn()">
        <p class="workplace-name">{{workplaceName}}</p>
        <button (click)="logout()">WYLOGUJ</button>
    </div>
    <div class="lower-section">
        <div class="left-section" *ngIf="isLoggedIn()">
            <div class="profile-picture">
                <img src="../assets/defaultProfilePic.png">
            </div>
            <p class="username">{{username}}</p>
            <app-menu></app-menu>
        </div>
        <div class="right-section">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>