<div class="dialog-content">
    <div class="header">DODAJ ZDJĘCIE</div>
    <div style="margin-top: 20%;"></div>
    <div class="main-container" style="margin-left: 17%;">
        <div class="field">
            <div class="description">
                <p>Zdjęcie</p>
            </div>
            <input type="file" class="file-input" (change)="assignSelectedFile($event)">
        </div>
    </div>
</div>
<div class="buttons">
    <button mat-raised-button color="warn" style="background-color: green;" (click)="closeWithSaving()">Zapisz</button>
    <button mat-raised-button color="warn" (click)="closeWithoutSaving()">Zamknij</button>
</div>

