.dialog-content {
    background-color: #272626;
    width: 45vw;
    min-height: 60vh;
    height: auto;
    border-top: 2px solid #e4e4e4;
    border-right: 2px solid #e4e4e4;
    border-left: 2px solid #e4e4e4;;
}

.header {
    color: #e4e4e4;
    font-size: 35pt;
    text-align: center;
    font-weight: 600;
    width: 100%;
    margin-top: 30px;
}

.field {
    width: 100%;
    display: flex;
}

.description {
    width: 30%;
    text-align: center;
    font-size: 15pt;
    color: #e4e4e4;
}

.main-container {
    margin-top: 5%;
}

mat-form-field {
    width: 65%;
    font-size: 15pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
    text-align: center;
    background-color: #656262;
}

.buttons {
    height: 11vh;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #272626;
    border-left: 2px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    border-right: 2px solid #e4e4e4;

    button {
        font-size: 15pt;
        padding: 20px;
        width: 20%;
        margin-right: 10px;
    }
}

.text-editor {
    width: 65%;
    max-height: 40vh;
    overflow-y: auto;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 70vh !important;
}

:host ::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    color: #e4e4e4;
}

:host ::ng-deep .mat-mdc-select-value-text {
    color: #e4e4e4;
}

:host ::ng-deep .mat-mdc-select-arrow svg {
    color: #e4e4e4;
}
