<div [ngStyle]="{'background-color': backgroundColor}" class="column-container">
    <div class="header-wrapper">
        <p>{{header}}</p>
    </div>
    <div class="assignments-container">
        <div *ngFor="let assignment of getAvailableAssignments()" class="assignment">
            <button (click)="deleteAssignment(assignment)">X</button>
            <div class="left-section" (click)="onEditClick(assignment)">
                <p>{{ assignment.name }}</p>
            </div>
            <div class="right-section" (click)="onEditClick(assignment)">
                <img *ngIf="!hasProfilePicture(assignment)" src="../../../../../assets/defaultProfilePic.png">
                <img *ngIf="hasProfilePicture(assignment)" [src]="getBase64Data(assignment)">
            </div>
        </div>
    </div>
</div>
  