<div class="centered">
    <div class="main-content">
        <div class="upper-section">
            <div class="left-side">
                WIZUALIZACJE
            </div>
            <div class="right-side">
                <button mat-raised-button class="add-button" style="background-color: #656262; color: #e6e4e4;" (click)="addVisualization()">
                    DODAJ WIZUALIZACJE<mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div class="table-container">
            <app-table [dataSource]="visualizations$ | async" [displayedColumns]="displayedColumns" [displayedHeaders]="displayedHeaders" 
                (editClicked)="openEditPage($event)" (deleteClicked)="deleteVisualization($event)"/>
        </div>
        <div class="total-count-wrapper">
            <p>Całkowita ilość: {{(visualizations$ | async)?.length}}</p>
        </div>
    </div>
</div>