.table-container {
    height: 100%;
    background-color:rgba(45,47,51,255);
}
  
table {
    width: 100%;
}

th {
    text-align: left;
    padding: 20px;
    font-weight: 500;
    color: rgb(241, 237, 237);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(28, 30, 31, 255);
}
  
td {
    text-align: left;
    padding: 20px;
    color: rgb(241, 237, 237);
}
  
tr:first-child th {
    border: none;
    background-color: rgba(28,30,31,255);
}

tr:nth-child(odd) {
    background-color: rgba(38,42,45,255);
}

tr:nth-child(even) {
    background-color:rgba(45,47,51,255);
}

tr:nth-child(odd):hover {
    background-color: rgba(38,42,45,255);
}

tr:nth-child(even):hover {
    background-color: rgba(45,47,51,255);
}

.icon-btn {
    background-color: transparent;
}

mat-icon {
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}

.join-icon {
    margin-left: 10px;
    transform: scale(1.5);

    &:hover {
        transform: scale(1.7);
    }
}