<div class="dialog-content">
    <div class="header">USTAWIENIA UŻYTKOWNIKA</div>
    <div style="margin-top: 15%;"></div>
    <div class="main-container"  [formGroup]="formGroup">
        <div class="field">
            <div class="description">
                <p>Email</p>
            </div>
            <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="email" style="text-align: center;"/>
            </mat-form-field>
        </div>
        <div class="field">
            <div class="description">
                <p>Imię</p>
            </div>
            <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="name" style="text-align: center;"/>
            </mat-form-field>
        </div>
        <div class="field">
            <div class="description">
                <p>Nazwisko</p>
            </div>
            <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="surname" style="text-align: center;"/>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="buttons">
    <button mat-raised-button color="warn" style="background-color: green;" (click)="closeWithSaving()">Zapisz</button>
    <button mat-raised-button color="warn" (click)="closeWithoutSaving()">Zamknij</button>
</div>

