<div class="centered">
    <div class="main-content">
        <div class="upper-section">
            <div class="left-side">
                TABLICA
            </div>
            <div class="right-side">
                <button mat-raised-button class="add-button" style="background-color: #656262; color: #e6e4e4;" (click)="openAddDialog()">
                    DODAJ ZADANIE<mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div class="columns-wrapper">
            <app-board-column header="DO ZROBIENIA" [assignments]="assignments$ | async" [status]="statuses[0]" (editClicked)="openEditDialog($event)"/>
            <app-board-column backgroundColor="rgba(45,47,51,255)" header="W TRAKCIE PRACY" [assignments]="assignments$ | async" 
                [status]="statuses[1]" (editClicked)="openEditDialog($event)"/>
            <app-board-column header="W TRAKCIE SPRAWDZANIA" [status]="statuses[2]" [assignments]="assignments$ | async" (editClicked)="openEditDialog($event)"/>
            <app-board-column backgroundColor="rgba(45,47,51,255)" header="GOTOWE" [status]="statuses[3]" 
                [assignments]="assignments$ | async" (editClicked)="openEditDialog($event)"/>
        </div>
    </div>
</div>