<div class="centered">
    <div class="main-content">
        <div class="upper-section">
            <div class="left-side">
                ZARZĄDZANIE
            </div>
        </div>
        <div class="table-container">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Pracownicy">
                    <app-table [dataSource]="cooworkers$ | async" [displayedColumns]="displayedColumnsCoworkers" [displayedHeaders]="displayedHeadersCoworkers" 
                    (deleteClicked)="deleteWorker($event)" />
                </mat-tab>
                <mat-tab label="Role">
                    <app-table [dataSource]="roles" [displayedColumns]="displayedColumnsRoles" [displayedHeaders]="displayedHeadersRoles" />
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>