<div class="centered">
    <div class="main-content">
        <div class="upper-section">
            <div class="left-side">
                ZARZĄDZANIE
            </div>
        </div>
        <div class="table-container">
            <app-table [dataSource]="items" [displayedColumns]="displayedColumns" [displayedHeaders]="displayedHeaders"></app-table>
        </div>
        <div class="total-count-wrapper">
            <p>Całkowita ilość: {{items.length}}</p>
        </div>
    </div>
</div>