<div class="centered">
    <div class="main-content">
        <div class="upper-section">
            <div class="left-side">
                UŻYTKOWNICY
            </div>
        </div>
        <div class="table-container">
            <app-table [dataSource]="users$ | async" [displayedColumns]="displayedColumns" [displayedHeaders]="displayedHeaders" (deleteClicked)="deleteUser($event)"></app-table>
        </div>
        <div class="total-count-wrapper">
            <p>Całkowita ilość: {{(users$ | async)?.length}}</p>
        </div>
    </div>
</div>